body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
margin:0;
}

h2{margin-top:10px;}

#openCam{
padding:12px;
font-size:18px;
margin:10px;
}

.camera-box{
position:relative;
max-width:500px;
margin:auto;
}

video{
width:100%;
border-radius:10px;
display:none;
transform-origin:center;
}

canvas{
display:none;
position:absolute;
top:0;
left:0;
width:100%;
}

.controls{margin-top:10px;}

button{
margin:5px;
padding:10px;
border:none;
border-radius:6px;
}

#map{
height:200px;
margin:10px;
border-radius:10px;
}
